<h2>Author</h2>
<hr>
<div class="panel panel-info">
    <div class="panel-heading">Author's information.</div>
    <div class="panel-body" *ngIf="isShown;else withoutData">
        <p>Name: {{ authorsData.name }}</p>
        <p>Birth day: {{ authorsData.birthDate }}</p>
        <p>Planet: {{ authorsData.location.planet }}</p>
        <p>Country: {{ authorsData.location.country }}</p>
        <p>City: {{ authorsData.location.city }}</p>
        <ng-template #withoutData>
            <p>Name: -</p>
            <p>Birth day: -</p>
            <p>Planet: -</p>
            <p>Country: -</p>
            <p>City: -</p>
        </ng-template>
    </div>
    <div class="panel-footer"><a [text]="buttonText" class="btn btn-info" (click)="showHideData()"></a></div>
</div>