<div class="col-md-8">
    <a routerLink="about" class="navbar-brand">{{ title }}</a>
    <div>
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="about">About author</a></li>
            <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="comments">Comments</a></li>
            <li routerLinkActive="active" class="nav-item"><a class="nav-link" routerLink="comment/new">New comment</a></li>
        </ul>
    </div>
</div>